.main {
  position: relative;
  width: 1080px;
  height: 768px;
  border: 2px solid red;
}
#spiderman {
  position: absolute;
  right: 1.5%;
}
#city {
  position: absolute;
  bottom: 1%;
  width: 1080px;
  height: 550px;
}
